html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    background-attachment: fixed;
    min-height: 20vh;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header {
    background-image: url(assests/backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@media (max-width: 768px) {
    .body {
        width: 100%;
        overflow-x: hidden;
    }

    .header {
        background-size: cover;
        width: 100%;
        overflow-x: hidden;
    }
}

@media (min-width: 350px) and (max-wid366px) {
    .body {
        width: 100%;
        overflow-x: hidden;
    }

    .header {
        background-size: cover;
        width: 100vw;
        overflow-x: hidden;
    }
}

/* navbar */
.navabar {
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
}

.navabar.sticky {
    padding: 5px 0;
    background: crimson;
}

.nav-links {
    list-style: none;
    display: flex;
}

.navbar img {
    width: 210px;
    height: 80px;
    padding-right: 20px;
}

.link a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 30px;
    margin: 0 20px;
    line-height: 90px;
    color: #fff;
    opacity: 0.5;
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
}

.link a:hover,
.link :active a {
    opacity: 1;
}

@media (max-width: 768px) {
    .navabar {
        width: 100%;
    }

    .navabar img {
        width: 30px;
        height: 80px;
    }

    .link a {
        text-decoration: none;
        text-transform: capitalize;
        margin: 0 1px;
        line-height: 90px;
        color: #fff;
        opacity: 0.5;
        transition: 0.5s;
        font-size: 12px;
        cursor: pointer;
    }
}

@media (min-width: 350px) and (max-width: 366px) {
    .navabar {
        width: 100%;
    }

    .navabar img {
        width: 30px;
        height: 80px;
    }

    #logo {
        width: 100px;
        height: 60px;
    }

    .nav-links {
        list-style: none;
        display: text;
    }

    .link {
        font-size: 10px;
        flex-basis: 50%;
    }

    .link a {
        text-decoration: none;
        text-transform: capitalize;
        margin: -24px;
        line-height: 90px;
        color: #fff;
        opacity: 0.5;
        transition: 0.5s;
        font-size: 10px;
        cursor: pointer;
    }
}

/* home section */
.home-section {
    margin-top: 30vh;
    margin-left: 30vh;
    height: 100vh;
    width: 100%;
}

.home-section .max-width {
    /* margin: auto 0 auto 30px; */
    overflow-x: hidden;
}

.home-section .heading {
    color: #fff;
    font-size: 27px;
}

.home-section h1 {
    color: #fff;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

@media (max-width: 768px) {
    .home-section {
        height: 60vh;
        margin-top: 40vh;
        margin-left: 10vh;
    }
}

@media (min-width: 350px) and (max-width: 366px) {

    .home-section {
        height: 60vh;
        margin-top: 35vh;
        max-width: 30% !important;
    }

    .home-section h1 {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        margin-left: -3px;
        margin: 10px;
    }

    .home-section h3 {
        margin: 10px;
        font-size: 20px;
    }

    .home-section .max-width {
        margin: -40px;
    }
}

/* about section */
.about-section {
    color: black;
    background-color: #fff;
    background-size: cover;
    height: 100vh;
}

.about-section h2 {
    padding-top: 60px;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline;
}

.about-section .about-content .column-left {
    width: 45%;
}

.about-section .about-content .column-left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    float: left;
    padding-top: 100px;
    padding-left: 100px;
}

.about-section .about-content .column-right {
    padding-left: 45%;
    width: 55%
}

.about-section .about-content .column-right div {
    padding-top: 200px;
    font-size: 40px;
    font-weight: 600;
}

.about-section .about-content .column-right p {
    text-align: justify;
    padding-right: 20%;
}

.about-section .about-content .column-right a {
    display: inline-block;
    background: #5f6c73;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0070ad;
    transition: all 0.3s ease;
}

.about-section .about-content .column-right a:hover {
    color: #5f6c73;
    background: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .about-section {
        height: 70vh;
    }

    .about-section h2 {
        font-size: 3vh;
    }

    .about-section .about-content .column-left img {
        height: 250px;
        width: 250px;
        margin-right: 50px;
    }

    .about-section .about-content .column-right div {
        padding-top: 100px;
        font-size: 20px;
    }

    .about-section .about-content .column-right p {
        font-size: 14px;
    }

    .about-section .about-content .column-right a {
        font-size: 16px;
    }
}

@media (min-width: 350px) and (max-width: 366px) {
    .about-section {
        height: 100vh;
        display: block;
    }

    .about-section h2 {
        font-size: 3vh;
    }

    .about-section .about-content .column-left img {
        height: 100px;
        width: 100px;
        justify-items: center;
        display: block;
        margin-top: -60px !important;
        margin-left: 30px !important;
    }

    .about-section .about-content .column-right {
        display: block;
        padding-top: 80px;
        margin-left: -60px;
    }

    .about-section .about-content .column-right div {
        padding-top: 100px;
        font-size: 16px;
        display: block;
    }

    .about-section .about-content .column-right p {
        font-size: 12px;
        display: block;
    }

    .about-section .about-content .column-right a {
        font-size: 16px;
        margin-right: 50px;
        margin-left: 20px;
        display: block;
    }
}

/* skills section */

.skills-section {
    color: #fff;
    background-color: #000000;
    background-size: cover;
    height: 100vh;
}

.skills-section .title {
    padding-top: 60px;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 100px;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
    padding-left: 120px;
}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 10%;
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: #0070ad;
    display: block;
    position: relative;
}

.skill-bar span {
    position: absolute;
    border-top: 5px solid #0070ad;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill1 {
    width: 90%;
}

.skill1 .skill-count1 {
    right: 0;
}

.skill2 {
    width: 85%;
}

.skill2 .skill-count2 {
    right: 0;
}

.skill3 {
    width: 70%;
}

.skill3 .skill-count3 {
    right: 0;
}

.skill4 {
    width: 80%;
}

.skill4 .skill-count4 {
    right: 0;
}

.skill5 {
    width: 75%;
}

.skill5 .skill-count5 {
    right: 0;
}

@media (max-width: 768px) {
    .skills-section {
        height: 70vh;
    }

    .skills-section .title {
        font-size: 3vh;
    }
}

@media (min-width: 350px) and (max-width: 366px) {
    .skills-section {
        height: 100vh;
    }

    .skills-section .title {
        font-size: 3vh;
    }

    .skill {
        padding-left: 40px;
    }
}

/* Qualifications */

.qualification-section {
    color: black;
    background-color: #fff;
    background-size: cover;
    height: 100vh;
}

.qualification-section .title {
    padding-top: 60px;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 100px;
}

.qualification-block {
    width: calc(50% + 8px);
    display: flex;
    justify-content: space-between;
    clear: both;
}

.qualification-block-right {
    float: right;
}

.qualification-block-left {
    float: left;
    direction: rtl;
}

.qualification-marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #f5f7fa;
    background: #5f696c;
    margin-top: 10px;
    z-index: 999;
}

.qualification-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
}

.qualification-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
}

.qualification-content p {
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}

@media (max-width: 768px) {
    .qualification-section {
        height: 75vh;
    }

    .qualification-section .title {
        font-size: 3vh;
    }
}

@media (min-width: 350px) and (max-width: 366px) {
    .qualification-section {
        height: 90vh;
    }

    .qualification-section .title {
        font-size: 3vh;
    }

    .qualification-block {
        width: calc(50% + 4px);
    }

    .qualification-block-right {
        float: right;
    }

    .qualification-block-left {
        float: left;
        direction: rtl;
    }

    .qualification-content h3 {
        margin-top: 1px;
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: 300;
        margin-top: -40px;
    }

    .qualification-content p {
        font-size: 8px;
        line-height: 1.5em;
        word-spacing: 1px;
        color: #888;
    }

    .qualification-marker {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #f5f7fa;
        background: #5f696c;
        margin-top: 10px;
        z-index: 999;
    }
}

/* Experience */

.experience-section {
    color: #fff;
    background-color: #000000;
    background-size: cover;
    height: 100vh;
}

.experience-section .title {
    padding-top: 60px;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 100px;
}

.experience-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.experience {
    width: 300px;
    height: 360px;
    padding: 2rem, 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.experience:hover {
    transform: translateY(20px);
}

.experience:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.experience:hover:before {
    opacity: 1;
}

.experience img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.experience .experience-caption {
    position: relative;
    z-index: 3;
    color: black;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.experience:hover .experience-caption {
    opacity: 1;
    transform: translateY(0px);
}

.experience .experience-caption h2 {
    margin: 0;
    font-weight: 600;
}

.experience .experience-caption p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .experience-section {
        height: 75vh;
    }

    .experience-section .title {
        font-size: 3vh;
    }

    .experience {
        width: 250px;
        height: 300px;
        padding: 2rem, 1rem;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }
}

@media (min-width: 350px) and (max-width: 366px) {
    .experience-section {
        height: 90vh;
    }

    .experience-section .title {
        font-size: 3vh;
    }

    .experience {
        width: 150px;
        height: 200px;
        padding: 2rem, 1rem;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-in-out;
    }

    .experience .experience-caption h2 {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
    }

    .experience .experience-caption p {
        letter-spacing: 1px;
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 20px;
        font-weight: 600;
    }
}

/* Portfolio */

.portfolio-section {
    background-color: #fff;
    background-size: cover;
    height: 100vh;
}

.portfolio-section .title {
    padding-top: 60px;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 100px;
}

.portfolio-section .container .portfolio {
    border: 1px solid #fff;
    border-radius: 1px;
    width: 75%;
    max-width: 500px;
    padding-left: 50px;
    justify-content: space-between;
}

.portfolio-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    float: left;
    height: 50vh;
    padding-left: 3em;
    justify-content: space-between;
}

.box {
    width: 100%;
    margin: 10;
    padding: 15%;
    border: 1px;
    position: relative;
    justify-content: center;
}

.box-1 {
    background: url(assests/project1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}

.box-2 {
    background: url(assests/project3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}

.box-3 {
    background: url(assests/project2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}

.first {
    display: block;
    position: relative;
    max-width: 100%;
}

.second {
    position: relative;
    padding: 20px;
    border: 1px solid #fff;
    height: 150px;
    width: 200px;
}

.box-1 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-2 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-3 .second {
    opacity: 0;
    backface-visibility: hidden;
}

.box-1:hover {
    background: black;
    transition: 0.3s;
}

.box-1:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box-1:hover .first {
    opacity: 0;
}

.box-2:hover {
    background: black;
    transition: 0.3s;
}

.box-2:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box-2:hover .first {
    opacity: 0;
}

.box-3:hover {
    background: black;
    transition: 0.3s;
}

.box-3:hover .second {
    opacity: 1;
    transition: opacity 0.8s;
}

.box-3:hover .first {
    opacity: 0;
}


@media (max-width:768px) {
    .portfolio-section {
        height: 90vh;
    }

    .portfolio-section .title {
        font-size: 3vh;
    }

    .portfolio-wrapper {
        display: block;
        height: 30vh;
    }

    .box {
        justify-items: center;
        margin-left: 0 auto;
    }

    .box-1 {
        height: 70px;
        width: 100px;
        margin-left: 160px;
    }

    .box-2 {
        height: 70px;
        width: 100px;
        margin-left: 160px;
    }

    .box-3 {
        height: 70px;
        width: 100px;
        margin-left: 160px;
    }

    .second {
        margin-top: -35px;
        margin-left: -40px;
        border: 1px solid #fff;
        height: 110px;
        width: 150px;
    }

    .second p {
        font-size: 12px;
    }
}

@media (min-width: 350px) and (max-width: 366px) {
    .portfolio-section {
        height: 100vh;
    }

    .portfolio-section .title {
        font-size: 3vh;
    }

    .portfolio-wrapper {
        display: block;
        height: 10vh;
        width: 100px;
    }

    .box {
        margin-left: 0 auto;
        overflow-x: hidden;
    }

    .box-1 {
        margin-top: -80px;
        height: 100px;
        width: 130px;
        margin-left: 2px;
    }

    .box-2 {
        height: 100px;
        width: 130px;
        margin-left: 2px;
    }

    .box-3 {
        height: 100px;
        width: 130px;
        margin-left: 2px;
    }

    .second {
        margin-top: -10px;
        margin-left: -10px;
        padding: 1px;
        border: 1px solid #fff;
        height: 90px;
        width: 150px;
    }

    .second p {
        font-size: 10px;
    }
}

/* Contact Me */

.contact-section {
    color: #fff;
    background-color: #000000;
    background-size: cover;
    height: 100vh;
}

.contact-section .title {
    padding-top: 60px;
    font-size: 6vh;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 100px;
}

.contact-section .contact-content .column-left {
    color: #fff;
    float: left;
    width: 50%;
    padding-left: 120px;
    padding-bottom: 30px;
}

.contact-section .contact-content .text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.contact-section .contact-content .column-left p {
    text-align: justify;
    color: #fff;
}


.contact-section .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
    color: #fff;
}

.contact-section .contact-content .row .info {
    margin-left: 30px;
    color: #fff;
}

.contact-section .contact-content .info .head {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}

.contact-section .contact-content .info .sub-title {
    color: #fff;
}

.contact-section .column-right {
    float: left;
}

.contact-section .column-right form .fields {
    display: flex;
}

.contact-section .column-right form .field,
.contact-section .column-right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.contact-section .column-right form .textarea {
    height: 80px;
    width: 100%;
    float: left;
}

.contact-section .column-right form .name {
    margin-right: 10px;
}

.contact-section .column-right form .email {
    margin-left: 10px;
}

.contact-section .column-right form .field input,
.contact-section .column-right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.contact-section .column-right form .field input:focus,
.contact-section .column-right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact-section .column-right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact-section .column-right form .button {
    height: 47px;
    width: 170px;
}

.contact-section .column-right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #576065;
    background: #576065;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-section .column-right form .button button:hover {
    color: #0070ad;
    background: none;
}

@media (max-width:768px) {
    .contact-section {
        height: 90vh;
        display: flex;
    }

    .contact-section .title {
        font-size: 3vh;
    }

    .contact-section .contact-content .column-left {
        color: #fff;
        float: left;
        width: 50%;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .contact-section .contact-content .text {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #fff;
    }

    .contact-section .contact-content .column-left p {
        text-align: justify;
        color: #fff;
    }

    .contact-section .contact-content .row {
        display: flex;
        height: 55px;
        align-items: center;
        color: #fff;
    }

    .contact-section .contact-content .row .info {
        margin-left: 30px;
        color: #fff;
    }

    .contact-section .contact-content .info .head {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
    }

    .contact-section .contact-content .info .sub-title {
        color: #fff;
        font-size: 12px;
    }

    .contact-section .column-right {
        margin-left: 50%;
        margin-top: -290px;
    }

    .contact-section .column-right form .fields {
        display: flex;
    }

    .contact-section .column-right form .field,
    .contact-section .column-right form .fields .field {
        height: 30px;
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-section .column-right form .textarea {
        height: 60px;
        width: 100%;
        float: left;
    }

    .contact-section .column-right form .name {
        margin-right: 10px;
    }

    .contact-section .column-right form .email {
        margin-left: 10px;
    }

    .contact-section .column-right form .field input,
    .contact-section .column-right form .textarea textarea {
        height: 100%;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 6px;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        transition: all 0.3s ease;
    }

    .contact-section .column-right form .field input:focus,
    .contact-section .column-right form .textarea textarea:focus {
        border-color: #b3b3b3;
    }

    .contact-section .column-right form .textarea textarea {
        padding-top: 10px;
        resize: none;
    }

    .contact-section .column-right form .button {
        height: 27px;
        width: 140px;
    }

    .contact-section .column-right form .button button {
        width: 100%;
        height: 100%;
        border: 2px solid #0070ad;
        background: #0070ad;
        color: #fff;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .contact-section .column-right form .button button:hover {
        color: #0070ad;
        background: none;
    }

}

@media (min-width: 350px) and (max-width: 366px) {
    .contact-section {
        height: 150vh;
        display: flex;
    }

    .contact-section .title {
        font-size: 3vh;
    }

    .contact-section .contact-content .column-left {
        color: #fff;
        margin-left: 15vw;
        margin-top: -30px;
    }

    .contact-section .contact-content .text {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #fff;
    }

    .contact-section .contact-content .column-left p {
        text-align: justify;
        color: #fff;
    }

    .contact-section .contact-content .row {
        display: flex;
        height: 55px;
        align-items: center;
        color: #fff;
    }

    .contact-section .contact-content .row .info {
        margin-left: 30px;
        color: #fff;
    }

    .contact-section .contact-content .info .head {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
    }

    .contact-section .contact-content .info .sub-title {
        color: #fff;
        font-size: 12px;
    }

    .contact-section .column-right {
        margin-top: 50px;
        display: block;
        margin-left: -10px;
    }

    .contact-section .column-right .text {
        text-align: center;
    }

    .contact-section .column-right form .fields {
        display: flex;
    }

    .contact-section .column-right form .field,
    .contact-section .column-right form .fields .field {
        height: 30px;
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-section .column-right form .textarea {
        height: 60px;
        width: 100%;
        float: left;
    }

    .contact-section .column-right form .name {
        margin-right: 20px;
    }

    .contact-section .column-right form .email {
        margin-left: 20px;
    }

    .contact-section .column-right form .field input,
    .contact-section .column-right form .textarea textarea {
        height: 100%;
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 6px;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        transition: all 0.3s ease;
    }

    .contact-section .column-right form .field input:focus,
    .contact-section .column-right form .textarea textarea:focus {
        border-color: #b3b3b3;
    }

    .contact-section .column-right form .textarea textarea {
        padding-top: 10px;
        resize: none;
    }

    .contact-section .column-right form .button {
        height: 27px;
        width: 140px;
        margin: 0 auto;
    }

    .contact-section .column-right form .button button {
        width: 100%;
        height: 100%;
        border: 2px solid #0070ad;
        background: #0070ad;
        color: #fff;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .contact-section .column-right form .button button:hover {
        color: #0070ad;
        background: none;
    }
}

.footer {
    text-transform: capitalize;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width:768px) {
    .footer {
        background-color: #fff;
        color: #292929;
    }
}