//Font Weights

$extra-light: 200;
$light: 300;
$normal: 400;
$regular: 500;
$medium: 600;
$demi-bold: 700;
$bold: 800;
$heavy: 900;

//Colors

$prime-black: #161616;
$primary: #00e6ea;
$dark-text: #c3c3c3;
$light-text: #707070;
$inputA: #333333;
$inputB: #f1f1f1;
$placeholder: #616161;
$placeholder2: #cdcdcde8;
$card-bg: #f3f3f3;

$primary-gradient: #ffdf01;
$secondary-gradient: #ca9a00;
$tertiary-gradient: #be7f00;
