.App {
  text-align: center;
  background-color: #f2ffe9;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1 {
  color: black;
}

.App-header {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #66ccff;
}

a {
  color: #66ccff !important;
}
a:hover {
  color: #66ccff !important;
  text-decoration: none !important;
}

.cityName {
  float: left !important;
}

.container,
.card {
  background-color: #f2ffe9 !important;
  color: white !important;
}

.container {
  background-image: url("cloud1.jpg") !important;
}

.btn {
  color: #ebecff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.py-3 {
  color: black;
}
